
<head>
    <link rel="stylesheet" href="/style.css">
    <title><%=name%> | Login</title>
</head>
<main>
  
    <nav>
      <div id="login-wrapper">
        <div id="login-container">
          <div id="login-text">
            <div >Already have an intuit account?</div>
            <a href="#" target="_blank" id="account-recovery">I forgot my User ID or Password</a>
          </div>
          <div id="login-button-container">
            <button onclick="window.location='/home';" id="sign-in-button">
              <span id="white-lock-img"></span>
              Sign in
            </button>
            <!-- <button onclick="window.location='/home';">Sign in</button> -->
          </div>
        </div>
      </div>
    </nav>
    <header id="logo-header">
        <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Intuit_Logo.svg/1200px-Intuit_Logo.svg.png" >
    </header>
    <div id="links"></div>
    <div id="sign-up-container">
      <div id="sign-up-head-wrapper">
      <h1 id="sign-up-header">Create an Intuit account</h1>
      <div id="sign-up-sub-header">One account for everything Intuit, including Mint. <a href="#" target="_blank" id="learn-more">Learn more</a></div>
      </div>
      <form id="sign-up-form">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email"></input><br/>
        <label for="phone">Phone (recommended)</label>
        <input type="tel" id="phone" name="phone"></input>
        <p id="call-info">Standard call, messaging or data rates may apply.</p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"></input>
  <button id="create-account-button">Create Account</button>
      </form>
      <p id="terms">By clicking Create Account, you agree to our<br/>
        <a href="#">Terms</a> and have read and acknowledge our Global <a href="#">Privacy Statement</a>.</p>
    </div>
    <footer>
      <div id="footer-links">
        <a href="#">Legal</a>
        <a href="#">Privacy</a>
        <a href="#">Security</a>
      </div>
      <div id="disclaimer">
        © 2021 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.<br/>
  Terms and conditions, features, support, pricing, and service options subject to change without notice.
      </div>
    </footer>
  <button id="privacy-settings">Privacy Settings</button>
  </main>